{% extends "layout.html" %}

{% block title %}
    Character
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col">
        Blades in the Dark
        <div class="container">
          <form>
            <label>Crew: {{ crew_name }}</label>
          </form>
        </div>
      </div>
      <div class="col">
        Class
      </div>
      <div class="col">
        Abilities
        <div class="slidecontainer">
          <input type="range" min="0" max="9" value="0" class="slider" id="myRange">
        </div>
      </div>
    </div>
    <form action="/new_character">
        <div class="d-grid gap-2 col-1 mx-auto">    
            <button class="btn btn-primary" type="submit">New Charater</button>
        </div>
    </form>
  </div>
{% endblock %}